<div class="container">
	<button class="btn btn-primary pull-right" (click)="showForm()"> Create chargement </button>

	<div  *ngIf="showAForm">
		<form novalidate [formGroup]="form">
			<div class="form-group">
				<div class="col-xs-12">
					<input type="text" class="form-control" formControlName="nom"
						   placeholder="BLABLA"/>
				</div>
				<div>
					<button class="btn btn-primary pull-right" (click)="valSave()"> Save </button>
				</div>
			</div>
		</form>
	</div>

	<table>

	</table>
</div>