<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header"><a class="navbar-brand">DPT</a></div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" *ngIf="profile">
				<li><a routerLink="/">Tableau de bord</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="!profile">
				<li><a routerLink="/login">S'authentifier</a></li>
				<li><a routerLink="/signup">S'enregistrer</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="profile">
				<li>
					<span class="navbar-text">Bienvenue todo,</span>
				</li>
			</ul>
		</div>
	</div>
</nav>
