<div class="container" *ngIf="chargement && chargement.guid">
	<div class="text-bold text-center">
		Détails du chargement <span class="text-grey4-xs">{{chargement.guid.toUpperCase()}}</span>
	</div>
	<form [formGroup]="chargementForm" novalidate class="text-center">
		<div class="form-group">
			<label> Description :
				<input type="text" class="form-control" formControlName="description">
			</label>
		</div>
		<div class="form-group">
			<label> Date de départ :
				<input type="date" class="form-control" formControlName="leavingDate">
			</label>
		</div>
		<div class="form-group">
			<label> Date d'arrivée :
				<input type="date" class="form-control" formControlName="arrivalDate">
			</label>
		</div>
		<div class="form-group">
			<label> Statut de chargement :
				<select formControlName="statutChargement">
					<option value="CREATED">Créé</option>
					<option value="OPEN">Ouvert</option>
					<option value="CLOSED">Fermé</option>
					<option value="UNDER_WAY">En route</option>
					<option value="ARRIVED">Arrivé</option>
					<option value="ARCHIVED">Archivé</option>
				</select>
			</label>
		</div>
		<button class="btn btn-primary" (click)="save()">
			<i class="fa fa-save" aria-hidden="true"></i> Enregistrer
		</button>
	</form>

	<h1>Colis</h1>
	<button class="btn btn-primary pull-right" (click)="addColis()">
		<i class="fa fa-plus" aria-hidden="true"></i> Ajouter un colis
	</button>
	<table *ngIf="chargement.colis" class="table table-striped table-hover margin-top-sm-xs">
		<thead>
		<tr>
			<th>GUID</th>
			<th>Créé par</th>
			<th>Type de colis</th>
			<th>Poids</th>
			<th>Destinataire</th>
			<th>expediteur</th>
		</tr>
		</thead>
		<tbody class="clickable">
		<tr *ngFor="let colis of chargement.colis" (click)="openColis(colis.guid)">
			<td>{{colis.guid}}</td>
			<td>{{colis.createdBy}}</td>
			<td>{{colis.typeColis}}</td>
			<td>{{colis.poids}}</td>
			<td>{{colis.destinataire}}</td>
			<td>{{colis.expediteur}}</td>
		</tr>
		</tbody>
	</table>
</div>