<div class="container text-center" id="login">
	<h1>Authentification</h1>
	<div class="well col-xs-12 col-md-4 col-md-offset-4">
		<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="form form-horizontal">
			<div class="form-group">
				<div class="col-xs-12">
					<input type="text" name="email" id="email" class="form-control" formControlName="email"
						   placeholder="email" />

					<div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.dirty"
						 class="alert alert-danger margin-top-xs-xs">
						<div [hidden]="!loginForm.controls.email.errors.required">
							Champ requis
						</div>
						<div [hidden]="!loginForm.controls.email.errors.n9Email">
							Email non valide
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input type="password" name="password" id="password" class="form-control" formControlName="password"
						   placeholder="Mot de passe" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">
						Valider
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
